.skills-section {
	display: flex;
	flex-direction: column;
	padding: 5px;

	.progress-wrapper {
		margin: 8px 0px;
		border-radius: 10px;
		background: rgba(230, 230, 230, 0.8);
		width: 80%;

		.progress {
			height: 5px;
			border-radius: 20px;
			background: rgba(23, 233, 217, 0.5);
		}
	}

	.content {
		letter-spacing: 2px;
		font-size: 10px;

		.skill-logo {
			width: 15px;
			margin-right: 5px;
		}
	}
}
