ul {
	list-style-type: square;
	margin-top: 10px;
	margin-left: 22px;
}
.wrapper {
	width: 95%;
	background: rgba(230, 230, 230, 0.7);
	border-radius: 5px;
	drop-shadow: 1px 1px 1px #bdbdbd;
	padding: 10px;
}

.icon-array {
	margin-bottom: 20px;
}
