ul {
	list-style-type: square;
	margin-top: 10px;
	margin-left: 22px;
}
.wrapper {
	width: 95%;
	background: rgba(240, 240, 240, 0.5);
	border-radius: 5px;
	drop-shadow: 1px 1px 1px #bdbdbd;
	padding: 10px;
}
